.navbar {
    width: 100%;
    height: 80px;
    background: #132A13;
    opacity: .75;
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    color: #132A13;
    
  }

  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  div.repoLinks {
    z-index: 1000;
  }
  .navbar a {
    color: #ECF39E;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .75rem;
  }

  .navbar a:hover {
    color: #132A13;
  }

.navbar li {
  background: linear-gradient(to left, #ECF39E 50%, #132A13 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all .5s ease-out;
  border-radius: 5px;
}

.navbar li:hover {
background-position: right bottom;

}



  .siteLogo {
  background: linear-gradient(to right, #ECF39E 50%, #132A13 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border-radius: 5px;

  }
  a.siteLogo:hover {
    background-position: left bottom;
  }
  
  .toggleBtn {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleBtn svg {
    font-size: 50px;
  }
  .toggleBtn button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: #ECF39E;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a{
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleBtn {
      display: flex;
    }
    #close a {
      display: none;
    }
    .navbar ul {
      display: inline-block;
    }
    a.siteLogo {
      display: inline;
      height: 20%;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleBtn {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }