/* General format */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #fbeca3;
    font-family: Arial, Helvetica, sans-serif;
}
/*For navagation Bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: #534138;
    color: #fbeca3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-image: round;
    background-image: url("../images/theShire.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    }
  
  header a {
      color:#fbeca3;
      text-decoration: none;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fbeca3;
    margin: 0;
    
  }



/*Navagation bar pointer and hover*/    
.logo {
cursor: pointer;
}
  .nav-links{
      list-style: none;
  }
    .nav-links li {
        display: inline-block;
        padding: 0px 20px;
    }
    .nav-links li a {
        transition: all 0.3s ease 0s;
    }
    .nav-links li a:hover {
        color: #c4b479;
     }
     header nav ul li a:hover {
      background: #534138;
      color: #fbeca3;
      border-radius: 15px;
      text-shadow: none;
    }

/* Headers */

.sectionTitle {
  font-size: 48px;
  color: #fbeca3;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}


.primaryTitle {
  font-size: 45px;
  color: #534138;
  border-bottom: 3px solid;
  padding-bottom: 25px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

/* End Headers */

/* Hero section */
.hero {
  background-image: url("../images/theShire.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #fbeca3;
}
  /* To center img and Text */
  .aboutMe-cta {
    width: 35%;
    text-align: center;
    margin: 3.5;
    color: #fbeca3;
    font-size: 18px;
    line-height: 1.2;
  }
  .aboutMe-cta h1 {
    font-style: italic;
    font-size: 45px;
    color: #fbeca3;
  }
  .aboutMe-cta img{
    padding: 5px;
    width: 50%;
    height: auto;
    border-radius: none;
  }
  .aboutMe {
    width: 80%;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    line-height: 1.3;
    justify-content: center;
    
  }
/* End Hero Section */

/* Begin Projects Section */

.projects {
  padding: 50px 50px;
}

  .project {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #534138;
    border-radius: 10px;

  }
  .projectBlock {
    flex: 2 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
    .projectText {
      flex: 12;
      margin: 15px;
    }
    .projectText p {
      color: #fbeca3;
      font-size: 18px;
    }
    .projectText h4 {
      font-size: 26px;
      line-height: 1.5;
      color: #fbeca3;
    }
    .projectImg {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
    .project h3 {
      color: #fbeca3;
      font-size: 46px;
      flex: 1 30%;
      margin: 15px;
    }
/* Scale images within project and hover effect*/    
    .projectImg {
      flex: 1 30%;
      margin-right: 20px;
      position: relative;
    }

    .projectBlock img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .imgOverlay {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 98%;
      height: 98%;
      background: rgba(0, 0, 0, 0.6);
      color: #c4b479;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.3s ease 0s;
      border-radius: 5px;

    }

    .runnersHour-text {
      font-size: 2em;
      font-weight: bold;
    }

    .imgOverlay:hover {
      opacity: 1;
      transform: scale(1.1);

    }


/* End Projects Section */


/* Start Contact section */

.contacts {
  cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  
    .contact-links {
        list-style: none;
    }
      .contact-links li {
          display: inline-block;
          padding: 0px 20px;
      }
 
/* Adding icons to contact links */
.fa-solid, .fa-brands {
  color: #534138;
  padding: 20px;
}

.fa-solid, .fa-brands {
  transition: all 0.3s ease 0s; ;
}
.fa-solid:hover, .fa-brands:hover {
  color: #a45454;
}

/* Footer formating */
footer {
    background: #534138;
    width: 100%;
    padding: 40px 35px;
  }

  footer h3 {
    display: inline;
    color: white;
    font-size: 16px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1;
    text-align: right;
  }
  footer a {
    color: #024e76;
  }
/* Begin Media flex */
  @media screen and (max-width: 980px) {
    
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .aboutMe-cta {
      width: 100%;
      text-align: center;
    }

    .sectionTitle {
      width: 80%;
    }

    .footer h2, .footer div {
      text-align: center;
      width: 100%;
    }
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  .section {
    padding: 30px 15px;
  }
  
  .project h3 {
    flex: 1 100%;
    text-align: center;
  }

  .projectBlock {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .projectImg {
    flex: 0 60%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .projectText {
    flex: 100%;
  }

}

@media screen and (max-width: 575px) {

  .sectionTitle {
    width: 95%;
  }


  .project {
    flex: 0 100%;
  }

  .contact-links {
    text-align: center;
    flex: auto;
  }

  .contacts > * {
    flex: 0 100%;
  }

  .contact-links {
    order: 3;
  }
  .primaryTitle {
    text-align: center;
  }

}
